<md-content layout-padding>
  <form name="registration">

    <!-- First and Last Name -->
    <div layout="row">
      <!-- First Name -->
      <md-input-container class="md-block">
        <label>First Name</label>
        <input required md-no-asterisk name="nameFirst" ng-model="register.name.first">
        <div ng-messages="registration.nameFirst.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <!-- Last Name -->
      <md-input-container class="md-block">
        <label>Last Name</label>
        <input required md-no-asterisk name="nameLast" ng-model="register.name.last">
        <div ng-messages="registration.nameLast.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>

    <!-- Email Address -->
    <md-input-container class="md-block">
      <label>Email</label>
      <input required type="email" name="email" ng-model="register.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
      <div ng-messages="registration.email.$error" role="alert">
        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
          Your email must be between 10 and 100 characters long and look like an e-mail address.
        </div>
      </div>
    </md-input-container>

    <!-- Student ID -->
    <md-input-container class="md-block">
      <label>Student Number</label>
      <input required name="studentNumber" ng-model="register.studentNumber" ng-pattern="/(n|0)?[0-9]{7}/" />
      <div ng-messages="registration.studentNumber.$error" role="alert">
        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
          Please enter a valid QUT Student Number
        </div>
      </div>
    </md-input-container>

    <!-- Payment Method -->
    <md-input-container>
      <label>Payment Method</label>
      <md-select required ng-model="register.payment.method">
        <md-option ng-value="">Card</md-option>
        <md-option ng-value="">Cash - </md-option>
        <md-option ng-value="">Option One</md-option>
        <md-option ng-value="">Option One</md-option>
      </md-select>
    </md-input-container>
  </form>
</md-content>