<div class="container">
  <div class="row">
    <div class="col-md-12">
      This is Code Network... Welcome!
      <br><br>
      <button ng-click="toggleModal('join')" class="btn btn-default">Open Join Modal</button>
      <button ng-click="toggleModal('other')" class="btn btn-default">Open Other Modal</button>
    </div>
  </div>
</div>













<!-- Modal: Join Code Network -->
<modal title="Join Code Network" visible="modal.join">
  <form role="form" ng-submit="join()">
    <!-- Full Name | First Name and Last Name -->
    <div class="row">
      <!-- First Name -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="name.first">First Name</label>
          <input type="text" class="form-control" id="name.first" ng-model="user.name.first" placeholder="Placeholder Text..." />
        </div>
      </div>
      <!-- Lase Name -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="name.last">Last Name</label>
          <input type="text" class="form-control" id="name.last" ng-model="user.name.last" placeholder="Placeholder Text..." />
        </div>
      </div>
    </div>

    <!-- Email Address -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Placeholder Text..." />
        </div>
      </div>
    </div>

    <!-- Are you a Student? | Boolean controlls the display of Student Details section -->
    <div class="row">
      <div class="col-md-4">
        <div class="form-group"><label>Are you a Student?</label></div>
      </div>
      <div class="col-md-4">
        <label class="radio-inline"><input type="radio" ng-model="user.student.status" data-ng-value="true" name="optradio">Yes</label>
        <label class="radio-inline"><input type="radio" ng-model="user.student.status" data-ng-value="false" name="optradio" ng-checked="true">No</label>
      </div>
    </div>

    <!-- Student Details | Institution and Student Number  -->
    <div class="row" ng-show="user.student.status">
      <!-- Institution -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="student.institution">Institution</label>
          <select class="form-control" name="single" id="student.institution" ng-model="user.student.institution">
            <option value="qut">Queensland University of Technology</option>
            <option value="uq">University of Queensland</option>
            <option value="other">Other Institution</option>
          </select>
        </div>
      </div>
      <!-- QUT | Student Number-->
      <div class="col-md-6" ng-show="user.student.institution === 'qut'">
        <div class="form-group">
          <label for="student.number.qut">Student Number</label>
          <input type="text" class="form-control" id="student.number.qut" ng-model="user.student.number" value="{{user.student.number}}" placeholder="Placeholder Text..." />
        </div>
      </div>
      <!-- UQ | Student Number -->
      <div class="col-md-6" ng-show="user.student.institution === 'uq'">
        <div class="form-group">
          <label for="student.number.uq">Student Number</label>
          <input type="text" class="form-control" id="student.number.uq" ng-model="user.student.number" value="{{user.student.number}}" placeholder="Placeholder Text..." />
        </div>
      </div>
    </div>
    <!-- Student Details | Faculty  -->
    <div class="row" ng-show="user.student.institution === 'qut'">
      <div class="col-md-12">
        <div class="form-group">
          <label for="student.faculty">Faculty</label>
          <select class="form-control" name="single" id="student.faculty" ng-model="user.student.faculty">
            <option value="sef">Science and Engeneering</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Payment Method -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="payment.method">How would you like to pay for membership?</label>
          <select class="form-control" name="single" id="payment.method" ng-model="user.payment.method">
            <option value="card">Card - Pay $10 by card online now</option>
            <option value="cash">Cash - Pay $10 cash at any of our events</option>
            <option value="none">No, this is Patrick! (No membership fee)</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Card Details -->
    <span ng-show="user.payment.method === 'card'">
      <div class="row" >
        <div class="col-md-12">
          <div class="form-group">
            <label for="payment.card.number">Card Number</label>
            <input type="text" class="form-control" id="payment.card.number" ng-model="user.payment.card.number" placeholder="Placeholder Text..." />
          </div>
        </div>
      </div>
      <!-- Expiry Details and CCV -->
      <div class="row">
        <!-- Expiry Month -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="payment.expiry.month">Exp Month</label>
            <select class="form-control" name="single" id="payment.expiry.month" ng-model="payment.expiry.month">
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
            </select>
          </div>
        </div>
        <!-- Expiry Year -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="payment.expiry.year">Exp Year</label>
            <select class="form-control" name="single" id="payment.expiry.year" ng-model="payment.expiry.year">
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
            </select>
          </div>
        </div>
        <!-- CCV -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="payment.card.ccv">CCV</label>
            <input type="text" class="form-control" id="payment.card.ccv" ng-model="user.payment.card.ccv" placeholder="Placeholder Text..." />
          </div>
        </div>
      </div>
    </span>

    <button type="submit" class="btn btn-default">Join</button>
  </form>
</modal>

<!-- Modal: Other Example Modal -->
<modal title="Example Modal" visible="modal.other">
  <form role="form">
    <div class="form-group">
      <label for="grremail">Email address</label>
      <input type="email" class="form-control" id="grremail" placeholder="Enter email" />
    </div>
    <div class="form-group">
      <label for="grrpassword">Password</label>
      <input type="password" class="form-control" id="grrpassword" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</modal>
