<div class="container">
  <div class="row">
    <div class="col-md-12">
      This is Code Network... Welcome!
      <br><br>
      <button ng-click="toggleModal('join')" class="btn btn-default">Open Join Modal</button>
      <button ng-click="toggleModal('other')" class="btn btn-default">Open Other Modal</button>
    </div>
  </div>
</div>






<modal title="Join Code Network" visible="modal.join">
  <p> This is the modal you are looking for! </p>
</modal>







<modal title="Example Modal" visible="modal.other">
  <form role="form">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</modal>
