.vp-height{
  height: 100vh;
}

.jumb-img{
  background-color: $charcoal;
  background-size: 100%
}

.jumb-logo{
  width: 40vh;
  padding-top: 7.5vh;
}

.padding-50{
  padding-top: 5vh;
}

.padding-10{
  padding-top: 50px;
}

.hack-pad{
  padding-top: 10px;
}

.hack-pad-bottom{
  padding-bottom: 2.5em;
}

.hack-pad-top{
  padding-top: 2.5em;
}


.top-layer{
  z-index: 99;
}